{:deps {org.clojure/clojurescript {:mvn/version "1.10.217"}
        org.clojure/clojure {:mvn/version "1.9.0"}
        figwheel-sidecar {:mvn/version "0.5.15"}
        cider/cider-nrepl {:mvn/version "0.17.0-SNAPSHOT"}
        com.cemerick/piggieback {:mvn/version "0.2.2"}
        org.clojure/tools.nrepl {:mvn/version "0.2.12"}}
 :paths ["src" "resources"]}
