{:css-dirs ["resources/public/css"]
 :http-server-root "public" ;; default
 :server-port 3449          ;; default
 :open-file-command "emacsclient"
 :builds [{:id "example", 
           :source-paths ["src" "test"],
           :figwheel {:on-jsload "cgol.core/mount-root"}
           :compiler
           {:main "cgol.core"
            :asset-path "js/out",
            :optimizations :none
            :preloads [#_day8.re-frame-10x.preload devtools.preload]
            :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true
                              "goog.DEBUG" true}
            :output-to "resources/public/js/cgol.js",
            :output-dir "resources/public/js/out",
            :source-map-timestamp true}}]}
